{% extends "news/base.html" %}
{% load static %}
{% block title %} Parolni tiklash {% endblock title %}

{% block content %}
    <h2>Parolni tiklash</h2>
    <p>Parolni tiklash uchun yangi parol kriting </p>
  {% if validlink %}
    <p>Iltimos yangi parolni ikki marta kiriting</p>
      <form method="post"  >{% csrf_token %}
        {{ form.as_p }}
          <button type="submit">Parolni almashtirish</button>
      </form>
  {% else %}
    <p>Siz noto'g'ri linkdan foydalandingiz.
      Bu link oldin foydalingan yoki ishlatish vaqti o'tib ketgan bo'lishi mumkin</p>
  {% endif %}
{% endblock content %}
