<!--Mashxurbek-->
<!--14.Bosh sahifani o'zgartirish. Context manager lar bilan ishlash 2-qism Maxalliy-->
<!--15.Context_processor va get_context_data-->
<!--16. Template teglari loyihani to’ldirish-->
<!--17.URLni slug ga o'zgartirish. Get_absolute url-->
<!--18. yangiliklar sayti sahifasini yaratish-->
<!--20.Yangiliklarni tahrirlash va oʻchirish funksiyalari-->
<!--21. Saytga yangilik qo’shish-->
<!--new app account-->
<!--22. Autinfikatsiya (login va Logout)-->
<!--23. Foydalanuvchi profilini yaratish-->
<!--24. Foydalanuvchi parolini o’zgartirish-->
<!--25.Foydalanuvchi parolini qayta tiklash-->
<!--26.signup Ro’yxatdan o’tish-->
<!--27. Signup. Class View orqali ro’yxatdan o’tish-->
<!--28.Profil modelini yaratish. Profilni tahrirlash-->
<!--29. Login_required dekoratori va LoginRequiredMixin-->
<!--30. Profilda rasm va boshqa maʼlumotlarni chiqarish-->
<!--31. Ruxsatnomalar. LoginRequiredMixin vs UserPassesTestMixin-->
<!--32. Ruxsatnomalar. Admin sahifasi ochish. Dekoratorli ruxsatnomalar-->
<!--33. Djangoʼda izoh qoldirish. Izoh modeli va formasini yaratish. 1-qism-->
<!--34. Djangoʼda izoh qoldirish. Views qismini yozish. 2-qism-->
<!--35. Djangoʼda izoh qoldirish. Template qismini yozish. 3-qism-->
<!--36. Yangiliklarni izlash funksiyasi-->
<!--37. Ko’rishlar sonini aniqlash-->


<!--Kamron-->
<!--9. Home va contact sohifalarini ishga tushirish-->
<!--10.Formalar bilan ishlash-->
<!--11.Class bilan form viewni yaratish-->
<!--12.ModelForm vs Form-->
<!--13.Bosh sahifada yangililarni kategoriya bo’yicha ko’rsatish 1-qism-->
<!--14.Bosh sahifani o'zgartirish. Context manager lar bilan ishlash 2-qism Maxalliy-->
<!--15.Context_processor va get_context_data-->
<!--16. Template teglari loyihani to’ldirish--> kamron
<!--17.URLni slug ga o'zgartirish. Get_absolute url-->
<!--18. yangiliklar sayti sahifasini yaratish-->
<!--20.Yangiliklarni tahrirlash va oʻchirish funksiyalari-->
<!--21. Saytga yangilik qo’shish-->
<!--22. Autinfikatsiya (login va Logout)-->
<!--23. Foydalanuvchi profilini yaratish-->
<!--24. Foydalanuvchi parolini o’zgartirish-->
<!--25.Foydalanuvchi parolini qayta tiklash-->
<!--26.signup Ro’yxatdan o’tish-->
<!--27. Signup. Class View orqali ro’yxatdan o’tish-->