<!--Mashxurbek-->
<!--14.Bosh sahifani o'zgartirish. Context manager lar bilan ishlash 2-qism Maxalliy-->
<!--15.Context_processor va get_context_data-->
<!--16. Template teglari loyihani to’ldirish-->
<!--17.URLni slug ga o'zgartirish. Get_absolute url-->



<!--Kamron-->
<!--9. Home va contact sohifalarini ishga tushirish-->
<!--10.Formalar bilan ishlash-->
<!--11.Class bilan form viewni yaratish-->
<!--12.ModelForm vs Form-->
<!--13.Bosh sahifada yangililarni kategoriya bo’yicha ko’rsatish 1-qism-->
